<!--::footer_part start::-->
<footer class="footer_part">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-sm-6 col-lg-2">
        <div class="single_footer_part">
          <h4>Law and Policy</h4>
          <ul class="list-unstyled">
            <li><a href="">Laws</a></li>
            <li><a href="">Loyal Decree</a></li>
            <li><a href="">Sub-Decree</a></li>
            <li><a href="">Official Paper</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-lg-2">
        <div class="single_footer_part">
          <h4>Quick Links</h4>
          <ul class="list-unstyled">
            <li><a href="">Hot News</a></li>
            <li><a href="">Development Partners</a></li>
            <li><a href="">Laws</a></li>
            <li><a href="">Vision and Mission</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-lg-2">
        <div class="single_footer_part">
          <h4>Information</h4>
          <ul class="list-unstyled">
            <li><a href="">Technical Cooperation</a></li>
            <li><a href="">Training Course</a></li>
            <li><a href="">Seminar</a></li>
            <li><a href="">Job Opportunity</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-lg-2">
        <div class="single_footer_part">
          <h4>Contact</h4>
          <ul class="list-unstyled">
            <li><a href="">Email</a></li>
            <li><a href="">Phone Number</a></li>
            <li><a href="">Facebook</a></li>
            <li><a href="">Twitter</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="single_footer_part">
          <h4>Newsletter</h4>
          <p></p>
          <div id="mc_embed_signup">
            <form
              target="_blank"
              action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
              method="get"
              class="subscribe_form relative mail_part"
            >
              <input
                type="email"
                name="email"
                id="newsletter-form-email"
                placeholder="Email Address"
                class="placeholder hide-on-focus"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = ' Email Address '"
              />
              <button
                type="submit"
                name="submit"
                id="newsletter-submit"
                class="email_icon newsletter-submit button-contactForm"
              >
                subscribe
              </button>
              <div class="mt-10 info"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright_part">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="copyright_text">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              All rights reserved
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="footer_icon social_icon">
            <ul class="list-unstyled">
              <li>
                <a href="#" class="single_social_icon"
                  ><i class="fab fa-facebook-f"></i
                ></a>
              </li>
              <li>
                <a href="#" class="single_social_icon"
                  ><i class="fab fa-twitter"></i
                ></a>
              </li>
              <li>
                <a href="#" class="single_social_icon"
                  ><i class="fas fa-globe"></i
                ></a>
              </li>
              <li>
                <a href="#" class="single_social_icon"
                  ><i class="fab fa-behance"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--::footer_part end::-->

<!-- jquery plugins here-->
<script src="js/jquery-1.12.1.min.js"></script>
<!-- popper js -->
<script src="js/popper.min.js"></script>
<!-- bootstrap js -->
<script src="js/bootstrap.min.js"></script>
<!-- easing js -->
<script src="js/jquery.magnific-popup.js"></script>
<!-- swiper js -->
<script src="js/swiper.min.js"></script>
<!-- swiper js -->
<script src="js/masonry.pkgd.js"></script>
<!-- particles js -->
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<!-- slick js -->
<script src="js/slick.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/contact.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/jquery.form.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/mail-script.js"></script>
<!-- custom js -->
<script src="js/custom.js"></script>
